.signup-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 100%;
}
.signup-form input {
    width: 80%;
    height: 50px;
    outline: none;
    border: 1px solid grey;
    border-radius: 100px;
    padding: 20px;
    margin: 20px 0;
}
.signup-button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    color: white;
    background-color: rgba(77, 76, 76,0.75);
    outline: none;
    border: none;
    box-shadow: 1px 1px 1px 1px 5px rgb(226, 218, 218);
    border-radius: 40px;
}
.signup-button:hover {    background-color: rgba(77, 76, 76,0.95);}